<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="BaseUrl">https://habitica.com/static/home</entry>
    <entry key="Login">bekmnsrw</entry>
    <entry key="Password">HmRdx6v2CZCZ*</entry>
    <entry key="Path">https://habitica.com/</entry>
</properties>
